:root{
	--test1: #dc8c8c;
	--test2: #dca08c;
	--test3: #dcb48c;
	--test4: #dcc88c;
	--test5: #dcdc8c;
	--test6: #c8dc8c;
	--test7: #b4dc8c;
	--test8: #a0dc8c;
	--test9: #8cdc8c;
	--test10: #8cdca0;
	--test11: #8cdcb4;
	--test12: #8cdcc8;
	--test13: #8cdcdc;
	--test14: #8cc8dc;
	--test15: #8cb4dc;
	--test16: #8ca0dc;
	--test17: #8c8cdc;
	--test18: #a08cdc;
	--test19: #b48cdc;
	--test20: #c88cdc;
}

/* Color Schema
    Sat: 93         Sat: 127
    Lum: 220        Lum: 240
    Hue :  BKGRND : TEXT
 1    0 : #dc8c8c : #f07878
 2   15 : #dca08c : #f09678
 3   30 : #dcb48c : #f0b478
 4   45 : #dcc88c : #f0d278
 5   60 : #dcdc8c : #f0f078
 6   75 : #c8dc8c : #d2f078
 7   90 : #b4dc8c : #b4f078
 8  105 : #a0dc8c : #96f078
 9  120 : #8cdc8c : #78f078
10  135 : #8cdca0 : #78f096
11  150 : #8cdcb4 : #78f0b4
12  165 : #8cdcc8 : #78f0d2
13  180 : #8cdcdc : #78f0f0
14  195 : #8cc8dc : #78d2f0
15  210 : #8cb4dc : #78b4f0
16  225 : #8ca0dc : #7896f0
17  240 : #8c8cdc : #7878f0
18  255 : #a08cdc : #9678f0
19  270 : #b48cdc : #b478f0
20  285 : #c88cdc : #d278f0 << stop here for now
21  300 : #dc8cdc : #f078f0
22  315 : #dc8cc8 : #f078d2
22  330 : #dc8cb4 : #f078b4
24  345 : #dc8ca0 : #f07896
*/


/* Main Set-up */
body {
	background-color: #1a1a1a; 
	color: #b3b3b3; 
	font-size: 12px;
}

/* Fonts */
h2 {
	color: white; 
	font-size 14px; 
	text-align: center; 
	padding-top: 15px;
}

h3 {
	color: #b3b3b3; 
	font-size 12px;
	text-align: center;
    line-height: 1.4em;
}

h4 {
	color: #8abfda; 
	font-size 12px; 
	text-align: center;
}

a { 
    color: black;
    text-decoration: none;
}

a.blue { 
    color: #8abfda;
    text-decoration: none;
}

.no_color { color: #b3b3b3; }

.hidden { display: none; }

code {
  background: #303030 !important;
  border: 1px solid rgba(255, 255, 255, .1);
  padding: 1px;
  border-radius: 2px;
}

/* Icons */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  display: inline-block;
  mask: url(../fonts/info-circle-solid.svg) no-repeat 50% 50%;
  -webkit-mask: url(../fonts/info-circle-solid.svg) no-repeat 50% 50%;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: #b3b3b3;
  margin-right: 4px;
}

/* Tooltips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #b3b3b3;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -12px;
  left: 130%; 
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #b3b3b3 transparent transparent;
}

/* Table header nav elements */
div.nav-title {
  position: relative;
  width: 800px;
}

div.nav-down {
  position: absolute;
  right: 5px;
  top: 0px;
  width: 20px;
}

div.nav-up {
  position: absolute;
  left: 5px;
  top: 0px;
  width: 20px;
}

/* Tables */
table {
	width: 800px; 
	border-collapse: collapse;
	margin: 0 auto 10px auto;
}

tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}

td {
	padding-bottom: 3px; 
	padding-top: 3px;  
	padding-left: 10px;
}

th {
	color: black; 
	font-weight: bold; 
	font-size: 16px;
	padding: 3px 0;
}

table td:first-child { text-align: right; vertical-align: top;}

/* used for descriptions after th */
table td.left {
    text-align: left;
    line-height: 1.5em;
    padding-bottom: 10px;
}

table td.center {text-align: center; }

/* Table Header Backgrounds */
#tb1 th { background-color : #f07878 }
#tb2 th { background-color : #f09678 }
#tb3 th { background-color : #f0b478 }
#tb4 th { background-color : #f0d278 }
#tb5 th { background-color : #f0f078 }
#tb6 th { background-color : #d2f078 }
#tb7 th { background-color : #b4f078 }
#tb8 th { background-color : #96f078 }
#tb9 th { background-color : #78f078 }
#tb10 th { background-color : #78f096 }
#tb11 th { background-color : #78f0b4 }
#tb12 th { background-color : #78f0d2 }
#tb13 th { background-color : #78f0f0 }
#tb14 th { background-color : #78d2f0 }
#tb15 th { background-color : #78b4f0 }
#tb16 th { background-color : #7896f0 }
#tb17 th { background-color : #7878f0 }
#tb18 th { background-color : #9678f0 }
#tb19 th { background-color : #b478f0 }
#tb20 th { background-color : #d278f0 }

#tb1 td:first-child { color: var(--test1);}
#tb2 td:first-child { color: var(--test2);}
#tb3 td:first-child { color: var(--test3);}
#tb4 td:first-child { color: var(--test4);}
#tb5 td:first-child { color: var(--test5);}
#tb6 td:first-child { color: var(--test6);}
#tb7 td:first-child { color: var(--test7);}
#tb8 td:first-child { color: var(--test8);}
#tb9 td:first-child { color: var(--test9);}
#tb10 td:first-child { color: var(--test10);}
#tb11 td:first-child { color: var(--test11);}
#tb13 td:first-child { color: var(--test13);}
#tb14 td:first-child { color: var(--test14);}
#tb15 td:first-child { color: var(--test15);}
#tb16 td:first-child { color: var(--test16);}
#tb17 td:first-child { color: var(--test17);}
#tb18 td:first-child { color: var(--test18);}
#tb19 td:first-child { color: var(--test19);}
#tb20 td:first-child { color: var(--test20);}

/* about:logo css test */
#fdResourceCss {
	background-image: url("about:logo"), url("not_firefox.png");
	background-size: auto 100%;
 	background-repeat: no-repeat;
}
