
@font-face {
	font-family: "Adobe Blank Not Linux";
	src: url("../fonts/AdobeBlankRegular_not_linux.ttf")
}

@font-face {
	font-family: "Adobe Blank Not Mac";
	src: url("../fonts/AdobeBlankRegular_not_mac.ttf")
}

@font-face {
	font-family: "Adobe Blank Not Windows";
	src: url("../fonts/AdobeBlankRegular_not_windows.ttf")
}
